<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>고객(Costomer) 정보 수정</title>
</head>

<!-- 
	CREATE TABLE CUSTOMER(
		CUSTOMER_NO NUMBER PRIMARY KEY,
		CUSTOMER_NAME VARCHAR2(60) NOT NULL,
		CUSTOMER_TEL VARCHAR2(30) NOT NULL,
		CUSTOMER_ADDRESS VARCHAR2(200) NOT NULL
	);


	CREATE SEQUENCE SEQ_CUSTOMER_NO NOCACHE;
	
	
-->
<body>
	<h1>회원 번호 일치하는 고객 정보 수정</h1>
	
	<form action="/customer/updateCustomer" method="POST">
		회원번호 : <input type="text" name="customerNo"> <br>
		이름 : <input type="text" name="customerName"> <br>
		전화번호 : <input type="text" name="customerTel"> <br>
		주소 : <input type="text" name="customerAddress"> <br>
		
		
		test : <input type="text" name="test" value="짱구">
		<button>수정</button>
	</form>
	
	
	
	
	
	
</body>








</html>